.field {
  width: 100%;
  display: grid; }

.color-shift {
  filter: hue-rotate(90deg); }

.container {
  display: grid; }

.goldrect {
  height: 162px;
  width: 100px;
  border-radius: 5px;
  background-color: #77cc66; }
